.card_of_list {
  width: 90%;
  height: 100%;
  border-radius: 20px;
  padding: 50px;
  overflow: auto;
  box-sizing: border-box;
  position: relative;
  min-height: 65vh;
  max-height: 65vh;
}
.no_plan {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  min-height: calc(65vh - 100px);
}

.wrapper_plans_content {
  & .element_of_plan {
    padding: 10px 20px;
    margin: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-content: center;
    position: relative;

    &  .icon_full {
      opacity: 0;
    }
    &:hover .icon_full {
      opacity: 1;
    }
    &  .icon_del {
      opacity: 0;
    }
    &:hover .icon_del {
      opacity: 1;
    }
    &:hover {
      cursor: pointer;
    }
  }

  & .wrapper_checked{
    margin-right:20px;
  }
  & .wrapper_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  & p{
    margin:0;
  }
}

.opacity_element {
  opacity: 0.5;
}
