.wrapper_spiner {
  background: rgba(0, 0, 0, 0.56);
  display: flex;
  width:100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0;
  left:0;
  z-index:2
}

.spinner {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.spinner:after {
  animation: changeContent .8s linear infinite;
  display: block;
  content: "⠋";
  font-size: 80px;
}

@keyframes changeContent {
  10% { content: "⠙"; }
  20% { content: "⠹"; }
  30% { content: "⠸"; }
  40% { content: "⠼"; }
  50% { content: "⠴"; }
  60% { content: "⠦"; }
  70% { content: "⠧"; }
  80% { content: "⠇"; }
  90% { content: "⠏"; }
}
