<div class='wrapper_welcome'>
  <div class="d-flex h-100 flex-column justify-content-center align-items-center">
    <div class='img'>
      <img src='/assets/images/plans.jpg' alt="planning your day" />
    </div>
    <div class='text'>
      <h3>PLAN YOUR EVENTS AHEAD OF TIME</h3>
    </div>
    <div>
      <BsButton @type="primary" @onClick={{action "nav"}}>
        Explore
      </BsButton>
    </div>
  </div>
</div>