{{page-title "Plans"}}
<Calendar/>
<div class="wrapper_plans_tabs">
  <BsTab as |tab|>
    <tab.pane @title="Plane" @id="plans">
     <PlanOnDay/>
    </tab.pane>
    <tab.pane @title="Add" @id="addPlan">
      <AddPlanForm @buttonName="Add" @default={{this.model}}/>
    </tab.pane>
  </BsTab>
</div>